@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@500;600;900&display=swap');


:root {
    --black: #232628;
    --light_grey: #ECEFF3;
    --red: #FF4848;
    --orange: #CC6119;
    --yellow: #FAB637;
    --white: #FFFFFF;
    --blue: #6C98E1;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 1rem;
    font-family: Open-Sans, Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
}

figure>img {
    max-width: 100%;
    height: auto;
    padding: 20px;
}

/*##################################### HEADER */

Header {
    position: static;
    width: 100%;

}

Header h1 {
    color: var(--white);
    height: 100px;
    margin: 0;   
    font-weight: bolder;
}

Header h1 span {
    color: var(--orange);
}

#burgerMenu {
    background-color: #232628;
    width: 50px;
    margin-right: 60px;
    color: var(--orange);
}

#topHeaderMobile {
    background-color: #232628;
    /*display: flex;*/
    flex-direction: row;
    margin: 0;
    padding: 20px 0;
    height: 100px;
    color: var(--orange);
    align-items: center;
    justify-content: flex-start;
    font-family: Montserrat, sans-serif;
}

#topHeaderMobile img {
    padding: 10px;
    height: 70px;
}

#topHeaderMobile p {
    font-size: 1em;
    font-weight: bold;

}

#topHeaderMobile span {
    font-size: 1.7em;
    font-weight: bolder;
    color: var(--white);
}

#topHeaderDesktop {
    grid-template-columns: 30% repeat(4, 1fr);
    background-color: #232628;
    margin: 0;

    padding: 20px 0 0 0;

    height: 100px;
    color: var(--orange);
    align-items: top;
    font-family: Montserrat, sans-serif;
}

#topHeaderDesktop img {
    height: 35px;
}

#topHeaderDesktop h1 {
    color: white;
    margin: 0;

    padding: 0 30px;

    font-family: Montserrat, sans-serif;
    font-size: 2.5em;
    font-weight: bolder;
    text-align: right;
}


#topHeaderDesktop p {
    color: white;
    margin: 0;
    font-size: 1em;
}

#adresseDesktop p {
    font-size: 0.9em;
}

#adresseDesktop h3 {
    color: var(--orange);
    margin: 0;
    font-size: 0.8em;
    font-weight: bolder;
}

#telephoneDesktop p {
    font-size: 1.5em;
    font-weight: bolder;
}

#telephoneDesktop h3 {
    color: var(--orange);
    margin: 0;
    font-size: 0.9em;
    font-weight: bolder;
}

#ouvertureDesktop span {
    font-size: 1em;
    color: white;
    font-weight: bold;
}

#ouvertureDesktop h3 {
    color: var(--orange);
    margin: 0;
    font-size: 0.9em;
    font-weight: bolder;
}

.flexible {
    display: flex;
    flex-direction: row;
}

header .fa {
    color: #FFFFFF;
    padding: 10px;
    font-size: 1em;
    width: 40px;
    text-align: center;
    text-decoration: none;
    background-color: gray;
    margin: 0px 10px 0px 10px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.8;
}

a:hover {
    opacity: 0.8;
}

#burgerMenu button {
    background-color: var(--black);
    width: 80px;
    border: none;
}

#bannerHeader ul {
    padding-right: 200px;
}



#bannerHeader {

    height: 200px;
    background: url(/images/vehicule1.jpg)center center/cover scroll no-repeat;
}

#bottomHeader {
    background-color: #232628;
    position: static;
    width: 100%;
    height: auto;
    color: var(--white);
    padding: 40px;
}

a {
    text-decoration: none;
}

main {
    width: 100%;
    padding-top: 20px;
    font-family: Open-Sans, sans-serif;
}

.responsive {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 20px;
}

main p {
    line-height: 1.3;
}

main figure {
    margin: 0;
}

.elementArticle {
    width: 100%;
    padding: 40px;
}

#bienvenue aside {
    padding-top: 0;
    padding-bottom: 0;
}

#bienvenue h2 {
    font-family: Montserrat, sans-serif;
    color: black;
    font-size: 1.7em;
}

#bienvenue h2 span {
    color: var(--orange);

}

#bienvenue p {
    font-size: 1.4em;
    font-weight: normal;
    padding-bottom: 0;
}

#bienvenue p span {
    color: rgb(83, 82, 82);
    font-size: 0.9em;
}

#leMeilleur h2 {
    font-family: Montserrat, sans-serif;
    color: black;
    font-size: 1.8em;
    padding-bottom: 40px;
    border-bottom: solid rgb(236, 234, 234) 2px;
}

#leMeilleur p {
    color: rgb(141, 141, 141);
    font-size: 1.1em;
}

#leMeilleur li {
    list-style: url(/images/check.png);
}

#leMeilleur li p {
    list-style: url(/images/check.png);
    color: rgb(83, 82, 82);
    font-size: 1.2em;
}

#louerAcheter {
    background: url(/images/vente-location.jpg)center center/cover scroll no-repeat;
    padding: 40px 0 40px 0;
}

#louerAcheter a {
    background-color: #fab637d8;
    padding: 60px 100px;
    margin: 40px;
    color: var(--white);
    font-size: 1.2em;
    height: max-content;
    max-width: 700px;

}

#louerAcheter a:nth-last-child(odd) {
    background-color: #fa3737d8;
}

#louerAcheter h2 {
    font-family: Montserrat, sans-serif;
    color: black;
    font-size: 2em;
}

#recents {
    background-color: var(--black);
    padding: 0 40px 40px 40px;
}

.overflow {
    display: flex;
    overflow: auto;
    white-space: nowrap;
    justify-content: space-between;
}

#recents a {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
    min-width: 150px;
}

#recents h2 {
    display: block;
    text-align: center;
    margin: 0;
    font-family: Montserrat, sans-serif;
    color: rgb(255, 255, 255);    
    padding: 40px 0 20px 0;
}

#recents img {
    margin: 0;
    padding: 40px 0;
}

#recents div {
    background-color: rgb(66, 66, 66);
    padding: 20px 0;

}

.borderTop {
    border-top: solid 4px var(--orange);
}

.borderBottom {
    border-bottom: solid gray 1px;
}

#recents div div {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

#recents p {

    color: var(--white);
    font-size: 1.2em;
    font-weight: bold;
}

.description {
    white-space: normal;
    margin: 20px 20px;
    padding: 10px 10px 10px 0px;

}

.prix {
    background-color: rgb(54, 109, 182);
    border: none;
    width: 120px;
    margin-left: 50px;
    padding: 20px;
    height: 60px;
    white-space: nowrap;

}

.prixBarre {
    background-color: rgb(54, 109, 182);
    border: none;
    width: 120px;
    margin-left: 50px;
    padding: 10px 20px;
    line-height: 1em;
    height: 60px;
    white-space: nowrap;
}

.prixBarre span {
    font-size: 0.6em;
    font-weight: 200;
    color: black;
    text-decoration: line-through;
    white-space: nowrap;
}


#choisir h2 {
    font-family: Montserrat, sans-serif;
    text-align: center;
    font-size: 2em;
    font-weight: 900;
}

.iconBlock {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 25px 0;
    height: 350px;
    width: 320px;
    color: var(--orange);
    align-items: flex-start;
    justify-content: flex-start;
    font-family: Montserrat, sans-serif;

}

.iconBlock img {
    width: 80px;
    margin-top: 60px;
}

.iconBlock h3 {
    font-family: Montserrat, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    color: black;
    padding: 30px 30px;
}

.iconBlock p {
    font-family: Open-Sans, sans-serif;
    color: rgb(155, 155, 155);
    padding: 0px 30px;
    font-size: 1.1em;
}

#contactButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactButton {
    max-width: 250px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Open-Sans, sans-serif;
    color: #ffffff;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 30px;
    background-color: #6C98E1;
    border: none;
    border-radius: 6px;
    box-shadow: 0 4px #8fa9d3;
}

#venteLocation {
    background: url(/images/vehicule3.jpg)center center/cover scroll no-repeat;
    padding: 100px 0;
}

#venteLocation article {
    background-color: #fab637d8;
    padding: 40px 80px;
    margin-bottom: 40px;
    font-size: 1.2em;
}

#venteLocation h2 {
    font-family: Montserrat, sans-serif;
    color: black;
    font-size: 1.7em;
}

#venteLocation h2 span {
    color: rgb(255, 255, 255);
}

/*  fin Main########################################################################################################################*/
footer {
    background-color: var(--black);
    padding: 30px 20px 0;
    margin-bottom: 0;
}

footer h2 {
    color: #6C98E1;
    font-size: 1.1em;
}

footer h3 {
    color: #ffffff;
    font-size: 1.1em;
}

footer h2 span {
    color: #FFFFFF;

}

footer p {
    color: rgb(141, 141, 141);
    font-size: 1.2em;
    margin: 0;
}

footer p span {
    color: rgb(255, 255, 255);
}

footer input {
    padding: 0;
    width: 80%;
    height: 45px;
    border: none;
    vertical-align: top;
    color: rgb(141, 141, 141);
    font-size: 1.1em;
}

#submit {
    background: url(/images/signal.png)center center/cover no-repeat;
    border: none;
    width: 45px;
    height: 45px;
    padding: 0;

}

#topFooter {
    border-bottom: solid gray 1px;
    margin: 0 10px;
}

footer img {
    height: 29px;
}

footer .fa {
    color: #FFFFFF;
    padding: 18px;
    font-size: 1.8em;
    width: 60px;

    text-align: center;
    text-decoration: none;
    background-color: gray;
    margin: 20px 10px 20px 0;
}

#copy {
    padding: 20px;
    text-align: center;
    font-size: 1em;
}

/* #############################################################################   media queries ####################################################################*/


@media screen and (min-width:900px) {

    /*#burgerMenu{
        display: none;
    }*/
    #bannerHeader {
        /*display: block;*/
        height: 500px;
    }

    #venteBannerHeader {
        display: block;
        height: 500px;

    }

    #venteBannerHeader>div {

        height: 500px;
    }

    #navHeader {
        display: block;
        height: 50px;
    }

    #navHeader ul {
        margin: 0;
        height: 50px;
        padding-right: 150px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }

    #navHeader nav li {
        padding: 10px 10px;
        height: 50px;
        width: 150px;
        list-style: none;
    }

    nav li a {
        text-decoration: none;
        color: black;
        padding: 11px 40px 22px;

    }

    .responsive {
        justify-content: space-between;
        flex-direction: column;
        padding: 0px 150px;
    }

    #recents {
        padding: 0 100px 40px 100px;
    }

    #recents h2 {
        margin: 0 40px;
    }

    #venteLocation {
        justify-content: flex-start;
    }

    #venteLocation article {
        display: flex;
        flex-direction: column;
        max-width: 40%;
        margin-left: 150px;
    }
}

@media screen and (min-width:1400px) {

    .responsive {
        justify-content: space-between;
        flex-direction: row;
        padding: 0px 150px;
    }

    #recents {
        padding: 0 150px 40px 150px;
    }

    #recents h2 {
        margin: 0 40px;
    }

    /*#recents div div{
        flex-direction: row-reverse;
        align-items: stretch;
    }*/
    .prix,
    .prixBarre {
        margin: 20px 20px 70px;
    }


    #topFooter {
        display: flex;
        margin: 0 150px;
    }

    .footerFlexContainer {
        width: 30%;
        padding: 10px;
    }

    footer .fa {
        color: #FFFFFF;
        padding: 15px;
        font-size: 1.4em;
        width: 50px;
        height: 50px;
        text-align: center;
        text-decoration: none;
        background-color: rgb(70, 70, 70);
        margin: 20px 10px 20px 0;
    }
}